{% extends 'base.html.twig' %}

{% block body %}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="">Home</a></li>
                <li class="active">List of products</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--prdt-starts-->
<div class="product">
    <div class="container">
        <div class="account-top heading">
            <h2>Product list</h2>
        </div>
        <div class="account-main">
            <div id="entities-grid">

            </div>
            <a class="btn btn-info" href="{{ path('product_new') }}">Create a new product</a>
        </div>
    </div>
</div>
    <script type="text/javascript" src="/ajax/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/ajax/ajaxgrid.js"></script>
    <script type="text/javascript">
        var settings= {
            'dataURL':'http://127.0.0.1:8000/product/',
            'sortbyfield': 'id',
            'order': 'asc',
            'filterbyfield': 'null',
            'pattern': 'null',
            'page': '1'
        }


        }
        $(document).ready(function () {
            $("#entities-grid").ajaxGrid(settings.filterableColumns='["title"]');
        })
        $("#filtertitle").keyup(filter())
        );
        function sort(){
            //...
        }
        function next() {
            //...
        }
        function previous() {
            //...
        }
        function filter() {
            var temp=this.text();
            settings.filterbyfield=this.id();
            settings.pattern=temp;
            settings.dataUrl=generateURL();
            $("#entities-grid").remove(".dataRows");
            $("#dataColumns").ajaxGrid(settings.dataUrl);
        }
        function generateURL(){
           return "http://127.0.0.1:8000/product/"+"?"+"sortbyfield="+settings.sortbyfield+"&order="+settings.order+
                   "&filterbyfield="+settings.filterbyfield+"&pattern="+settings.pattern+"&page="+settings.page;
        }
    </script>
{% endblock %}
