{% extends 'base.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/ajaxgrid.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li class="active">List of users</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<div class="product">
    <div class="container">
        <div class="account-top heading">
            <h2>User list</h2>
        </div>
        <div id="entities-grid"></div>
        <script type="text/javascript">
            var settings= {
                'dataURL':'/user/ajax?sortbyfield=id&order=asc&filterbyfield=username&pattern=',
                'sortbyfield': 'id',
                'order': 'asc',
                'filterbyfield': '',
                'pattern': '',
                'page': '1'
            };
            document.addEventListener("DOMContentLoaded", function() {
                $("#entities-grid").ajaxGrid({
                    'dataURL':settings.dataURL,
                    'sortableColumns':'["id", "lastName", "firstName"]',
                    'filterableColumns':'["lastName", "firstName"]'
                })
            });
            $("#entities-grid").on("keyup",".filter",function () {
                settings.filterbyfield=this.parentElement.id;
                settings.pattern=this.value;
                settings.page=1;
                settings.dataURL=generateURL();
                console.log(settings);
                $("#entities-grid").ajaxGrid('update',{'dataURL':settings.dataURL, 'page':settings.page});
            });
            $("#entities-grid").on("click",".sort",function () {
                settings.sortbyfield=this.parentElement.id;
                if(settings.order=="asc"){settings.order="desc"}
                else {settings.order="asc"}
                settings.dataURL=generateURL();
                console.log(settings);
                $("#entities-grid").ajaxGrid('update',{'dataURL':settings.dataURL});
            });
            function next() {
                if (settings.page<{{ pagination.pageCount }}) {
                    settings.page++;
                    settings.dataURL = generateURL();
                    $("#entities-grid").ajaxGrid('update', {'dataURL': settings.dataURL, 'page':settings.page});
                }
            }
            function prev() {
                if(settings.page>1) {
                    settings.page--;
                    settings.dataURL = generateURL();
                    $("#entities-grid").ajaxGrid('update', {'dataURL': settings.dataURL, 'page':settings.page});
                }
            }
            function generateURL(){
                return window.location.href+"ajax?sortbyfield="+settings.sortbyfield+"&order="+settings.order+
                        "&filterbyfield="+settings.filterbyfield+"&pattern="+settings.pattern+"&page="+settings.page;
            }
        </script>
    </div>
</div>
{% endblock %}
